body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.get-involved-container {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}
.get-involved-title {
color: #3478f6;
font-size: 2rem;
font-weight: bold;
margin-top: 40px;
}
.get-involved-card h2 {
font-size: 18px;
margin-bottom: 10px;
}
.get-involved-card p {
font-size: 14px;
line-height: 1.5;
}
.acton-1-container {
background-color: #fafbfc;
color: rgb(0, 0, 0);
padding: 10px;
border-radius: 12px;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
text-align: left;
margin: 10px;
width: 100%;
height: 100%;
}
.acton-1-container h2 {
  color: #52ab52;
}
.acton-1-container p {
  color: #2a66d6;
}
.acton-1-container {
  display: flex;
  align-items: flex-start; 
  gap: 20px; 
  margin-bottom: 20px;
}
.acton-1-container img {
  max-width: 100%; 
  height: 200px;
}
.acton-1-container .col-12 {
  flex: 1;
}
@media screen and (max-width:768px) {
  .acton-1-container img {
    display: block;
    margin: auto;
  }
}
.auto-scroll-button {
  display: inline-block;
  background-color: #3478f6;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  text-align: center;
  white-space: normal; 
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #info-sections {
    padding: 40px 20px;
    
}
.learn-more-section {
    margin-bottom: 40px;
    padding: 20px;
    border-left: 6px solid #3478f6;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;  
    color: white;
}
.learn-more-section h2 {
    color: #52ab52;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.learn-more-section p {
    color: #2a66d6;
    font-size: 1em;
    line-height: 1.6;
}
.get-involved-title2 {
  color: #3478f6;
font-size: 2rem;
font-weight: bold;
margin-bottom: 40px;
text-align: center;
}